<!DOCTYPE html>

<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" media="all" href="<%= css %>" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/tomorrow-night.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>
  <script src="assets/js/javascript.js"></script>
</head>
<body>
  <div class="ui left push vertical inverted sidebar menu">
    <% for (var i=0, l=sources.length; i<l; i++) { %>
      <% var source = sources[i]; %>
      <a class="item menu-link" href="<%= path.basename(destination(source)) %>">
        <%= path.basename(source) %>
      </a>
    <% } %>
  </div>

  <div class='pusher'>
    <div class='ui basic button icon' id='menu-button'>
      <i class='icon sidebar'></i>
    </div>

    <div id="background" class="hljs"></div>

    <div id="container" class="ui grid container">

      <div class="sections">
          <% for (var i=0, l=sections.length; i<l; i++) { %>
          <% var section = sections[i]; %>
          <% var NOOP = section.docsText.match(/^NOOP/); %>
          <% if (!NOOP) { %>
            <% var heading = section.docsText.match(/^# (.*)\n/); %>
            <% var headingID = heading ? heading[1] : '' %>
            <div id="<%= headingID %>" class="section-<%= i %> ui middle aligned two column grid">
              <div class="annotation column">
                <% docsHtml = section.docsHtml %>
                <% if (i > 0) { %>
                  <a class='section-link' href="#<%= headingID %>">
                    <i class="linkify icon"></i>
                  </a>
                <% } %>
                <%= docsHtml %>
              </div>
              <% if (section.codeText.replace(/\s/gm, '') != '') { %>
                <div class="content column hljs javascript"><%= section.codeHtml %></div>
              <% } %>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>
